<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{>link}}

  <title>Bodyflex</title>
</head>

<body>
  {{!-- navbar --}}

  {{>navbar}}

  {{!-- carousel --}}

  {{>carousel}}

  {{!--gallery --}}

  {{>gallery}}

  {{!-- about us --}}

  {{>about}}


  {{!-- contact us --}}

  {{>contact}}

  {{!-- footer --}}

  <div class="footer">
    <p>copyright @ all rights reserved </p>
  </div>

  {{>jqlink}}

</body>

</html>