<div class="about container-fluid" id="aboutus">
    <div class="sub-about">
      <h2>about us </h2>
      <p>we cares for our customer </p>
    </div>
    <div class="about-gall">
      <div class="sub-about-gall">
        <img src="image/about1.jpg" alt="">
        <div class="image-cap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, odio.</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      </div>
      
      <div class="sub-about-gall">
        <img src="image/about2.jpg" alt="">
        <div class="image-cap">
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      </div>

      <div class="sub-about-gall">
        <img src="image/about3.jpeg" alt="">
        <div class="image-cap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      </div>

      <div class="sub-about-gall">
        <img src="image/about4.jpeg" alt="">
        <div class="image-cap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, odio.</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      </div>

    </div>


  </div>