<div class="gallery container" id="galleryy">
    <div class="sub-gallery">
      <h2>gallery</h2>
      <p>we always keeps you fit</p>
    </div>
    <div class="gall-collection">
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery1.jpeg" alt="">
        </div>
        <div class="content">
          <h2>nisha</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery2.jpeg" alt="">
        </div>
        <div class="content">
          <h2>jyoti</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery3.jpeg" alt="">
        </div>
        <div class="content">
          <h2>ibrahim</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
    </div>
    <div class="gall-collection">
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery4.jpeg" alt="">
        </div>
        <div class="content">
          <h2>rahul</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery5.jpeg" alt="">
        </div>
        <div class="content">
          <h2>sandhu</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img class="img1" src="image/gallery6.jpeg" alt="">
        </div>
        <div class="content">
          <h2>shubu</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab?</p>
        </div>
      </div>
    </div>

  </div>

